@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
	--bg-elements: hsl(0, 0%, 100%);
	--bg-background-primary: hsl(0, 0%, 98%);
	--text-primary: hsl(200, 15%, 8%);
	--bg-input: hsl(0, 0%, 52%);
}

.theme-dark {
	--bg-elements: hsl(209, 23%, 22%);
	--bg-background-primary: hsl(207, 26%, 17%);
	--text-primary: hsl(0, 0%, 100%);
	--bg-input: hsl(0, 0%, 52%);
}
